.carousel-item img{
    margin-top: -10px;
    width: 100%;
    height: 95vh;
    object-fit: cover;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
    padding: 20px;
    background-color: rgb(56, 56, 56);
}
.carousel-item span{
    color: black;
    font-size: large;
    display: block;
    width: 100%;
}