.service-container{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
}
.service-container>h1{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
.main-services{
    position: relative;
}
.main-services>img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    filter: blur(1.2px);
}
.main-services h1{
    z-index: 5;
    font-weight: 600;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.secondary-services{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.secondary-services img{
    filter: blur(1.2px);
    width: 49.8%;
    height: 300px;
    object-fit: cover;
}
.sec-img-1{
    font-weight: 600;
    color: black;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    
}
.sec-img-2{
    font-weight: 600;
    color: black;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

@media (max-width: 640px) {
    .service-container {
        width: 90%;
        margin-left: 5%;
    }

    .main-services>img,
    .secondary-services img {
        width: 100%; /* Make images full width */
        height: 250px; /* Keep uniform height */
        object-fit: cover;
        margin-bottom: 10px; /* Add space between images */
    }

    .secondary-services {
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .sec-img-1{
        
        position: absolute;
        left: 50%;
        top:25%;
        transform: translate(-50%, -50%);
        /* font-size: 22px; */
        font-weight: 700;
        color: black;
        text-align: center;
        white-space: nowrap;
        
    }
    .sec-img-2 {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
        /* font-size: 22px; */
        font-weight: 700;
        color: black;
        text-align: center;
        white-space: nowrap;
    }
}
