.slogan-banner {
    background-color: rgba(11, 41, 55, 0.9);
    color: white;
    text-align: center;
    padding: 35px;
    position: relative;
    overflow: hidden;
  }
  
  .slogan-text {
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(20px);
  }
  