.why-us {
    text-align: center;
    background: rgba(11, 41, 55, 0.95);
    color: white;
  }
  .why-container{
    width: 80%;
    margin-left: 10%;
    padding: 60px 0;
  }

  
  .why-us-title {
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 60px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .feature {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon {
    font-size: 5.2rem;
  }
  
  .feature-title {
    text-align: left;
    font-size: 1.8rem;
    color: #f1c40f;
    margin: 0;
    margin-bottom: 10px;
  }
  
  .feature-description {
    font-size: 1.1rem;
    color: #dcdcdc;
    max-width: 300px;
    text-align: left;
  }
  

  @media (max-width: 1000px) {
    /* .feature {
      flex-direction: column;
      text-align: center;
    } */
  
    .feature.reverse {
      flex-direction: row-reverse;
    }
  
    /* .feature-title,
    .feature-description {
      text-align: center;
    } */
  }

  @media (max-width: 748px) {
    .why-us-title {
      font-size: 40px;
    }
    .icon {
      font-size: 4rem;
    }
    
    .feature-title {
      font-size: 1.7rem;
    }
    
    .feature-description {
      font-size: 1rem;
      
    }
  }
  